/* 图片新闻预览*/

.new-container {
	margin-right: auto;
	margin-left: auto
}

.new-table .met-editor {
	/*background-color: #8C8C8C;*/
	/*padding: 10px;*/
}

.new-table {
	border: 1px solid #c3c3c3;
	/*background-color: #8C8C8C;*/
	margin-bottom: 30px;
}

.new-img-td {
	width: 33.3%;
}

.new-img-tr{
	display: -webkit-inline-box;
}

.new-img-tr img {
	cursor: pointer;
}

.new-img-td p {
	text-align: center;
	margin-top: 10px;
}


/* 手机样式*/
@media screen and (orientation:landscape) {
	.new-img-td img {
		width: 100% !important;
	}
}

@media (max-width:768px) {
	.new-container {
		width: 100% !important;
	}
	.new-table {
		width: 100% !important;
	}
	.new-img-tr{
		display: block;
	}
	.new-img-td {
		width: 100% !important;
		display: block;
	}
	.new-img-td img {
		width: 100% !important;
	}
}

@media (min-width:768px) {
	.new-container {
		width: 750px;
	}
}

@media (min-width:992px) {
	.new-container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.new-container {
		width: 1170px
	}
}